/* Resetting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

img,
picture {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
}

/* Colors */
:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --purple: hsla(271, 40%, 30%, 0.5);
  --shadow-pink: hsla(314, 85%, 43%, 0.3);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
}

::selection {
  background-color: var(--shadow-pink);
}

/* Typography */
body {
  font: 1rem/1.3 Inter, sans-serif;
}

.card-title {
  font-size: 2rem;
}

.card-desc {
  line-height: 1.5;
  opacity: 0.75;
}

.stats-count {
  font: 1.5rem;
  line-height: 2;
}

.stats-name {
  font: 0.688rem "Lexend Deca", sans-serif;
  opacity: 0.6;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
}

/* Layouting */

body {
  background-color: var(--Very-dark-blue);
  color: var(--white);
  display: grid;
  grid-template-rows: 1fr 1rem;
  place-items: center;
  min-height: 100vh;
}

/* Utility Classses */

.container {
  margin: 2rem 5%;
  max-width: 56.25rem;
}

.highlight {
  color: var(--soft-violet);
}

/* Card Grid */

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(
    var(--shadow-pink),
    var(--purple)
  );
  box-shadow: 0.313rem 0.313rem 0.938rem 0.313rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

/* Left Panel */
.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

/* Stats */
.stats-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.stats-name {
  color: var(--slightly-transparent-white);
}

/* image section */
.product-image {
  background: var(--soft-violet);
}

.product-image img {
  object-fit: cover;
  border-radius: 0 1rem 1rem 0;
  mix-blend-mode: multiply;
}

/* footer */
.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Hover Effect */
@media (hover: hover) {
  .card-grid:hover {
    transform: scale(1.02);
  }
}

/* Animation */
.card-grid{
  animation: zoomIn 0.7s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsiveness */

@media (max-width: 800px) {
  .content {
    padding: 2rem;
  }
  .card-title {
    font-size: 1.5rem;
  }

  .stats-count {
    font-size: 1rem;
  }

  .stats-name {
    font-size: 0.5rem;
    letter-spacing: 0.2ch;
  }
}

@media (max-width: 600px) {
  .card-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .stats-count {
    font-size: 1.5rem;
  }

  .stats-name {
    font-size: 0.688rem;
    letter-spacing: 0.2ch;
  }

  .stats-container {
    flex-direction: column;
  }

  .product-image img {
    border-radius: 1rem 1rem 0 0;
  }
}
